 <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track': 'reload' %>  
<p id="notice"><%= notice %></p>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>


<br>
<div class="form">
<a href="/articles/new">New Post</a>
</div>